div {
  text-align: center;
}
label {
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aqua;
}
.alert-danger {
  background-color: #f44336;
}
.alert {
  color: white;
  margin-bottom: 15px;
  text-align: left;
}
